section{
 background: #e0e0eb;


}
h1{
color: black;
margin-bottom: 10px;
margin-top: 10px;


}
h2{
 text-align: center;
 margin-bottom: 15px;
}
.navbar{
	/*background-color:#b3cce6 ;*/

}
p{
	font-family:  monaco ;
	padding-right: 10px;
	padding-left: 20px;
}
span{
	text-align: center;
	color: white;
	margin-right: auto;
}

